 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand hello" id="hello" >Hallo <%= current_student.firstname %></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to "Logout", destroy_student_session_path, method: :delete, :class => 'nav-link logout', :id => "logout"   %>
      </li>
    </ul>
  </div>
</nav>
<br>
<p id="notice"><%= notice %></p>

<%= render partial: '/report_ramadhans/form' %>