/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#hello {
  list-style-type: none;
  text-decoration: none;
}
#hello::hover {
  list-style-type: none;
  text-decoration: none;
}

#login100-form-btn {
  background-image: linear-gradient(180deg, #36ff12, #6f869c);
}
.kirim {
  background-color: blue;
}
#kirim input[type="submit"]{
     background: transparent;
     border: 1px solid #e8e8e8;
     display: block;
     float: right;
      background: red;
      color: #006faa;
      font-weight: 400;
      font-size: 1.4em; //font size does not change
      display: block;
      padding: 0px 4px 0px 4px; //modification doesn't show..
      text-decoration: none;
      &:hover {
        color: rgb(229, 246, 255);
        background: #0089d1;
      }
  }